@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-ExtraBold.ttf") format("ttf"),
    url("../public/fonts/Inter-Bold.ttf") format("ttf"),
    url("../public/fonts/Inter-SemiBold.ttf") format("ttf"),
    url("../public/fonts/Inter-Regular.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  /*LIGHT*/
  --light-bg-color: #fafafa;
  --light-bg-secondary-color: #dadada;
  --light-text-color: #111;
  /*DARK*/
  --dark-bg-color: #111;
  --dark-bg-secondary-color: #333;
  --dark-text-color: #fafafa;
  /*COLORS*/
  --primary-color: #fe53bb;
  --secondary-color: #08f7fe;
  --terthiary-color: #09fbd3;
  --bg-color: var(--dark-bg-color);
  --bg-secondary-color: var(--dark-bg-secondary-color);
  --text-color: var(--dark-text-color);
}

/* SELECTION*/
*::selection {
  background-color: var(--text-color);
  color: var(--bg-color);
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--bg-color),
    var(--bg-secondary-color) 20%,
    var(--bg-secondary-color) 80%,
    var(--bg-color)
  );
  border-radius: 1.25em;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-secondary-color);
}
::-webkit-scrollbar-thumb:active {
  background: var(--bg-secondary-color);
  border-top: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  max-width: calc(100vw-0.7em);
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HEADER*/
header {
  height: 10vh;
  min-height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding-right: 1em;
  padding-left: 1em;
}

/*LOGO*/
.logo {
  max-height: 10vh;
  display: flex;
  align-items: center;
  gap: 1em;
}
.logo img {
  max-height: 7vh;
  transition: 1s ease;
}
.logo:hover img {
  scale: 1.05;
  filter: drop-shadow(var(--primary-color) 0.1em 0.01em 0.1em);
}
.logo h4 {
  font-size: large;
  color: var(--text-color);
  transition: 1s ease;
}
.logo:hover h4 {
  color: var(--primary-color);
  text-shadow: var(--primary-color) 0.1em 0.1em 2em;
}

.favicon {
  background: #000;
  width: 2em;
  aspect-ratio: 1.2/1;
  border-radius: 0.3em;
  position: relative;
  font-weight: lighter;
  color: #fff;
  transition: 1s ease;
  margin-bottom: 0.2em;
}
.favicon::after {
  content: "S";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: currentColor;
  background: #000;
  border-radius: 0.3em;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favicon::before {
  content: "";
  position: absolute;
  bottom: -0.23em;
  height: 100%;
  width: 95%;
  background: currentColor;
  border-radius: 0.3em;
  border: #000 0.05em solid;
  z-index: -1;
}
.logo:hover .favicon {
  color: var(--primary-color);
  box-shadow: var(--primary-color) 0.01em 0.01em 0.5em;
}
.logo:active .favicon {
  transform: scale(0.9);
}

/*Navbar*/
nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
}

.link {
  color: var(--text-color);
  transition: 0.5s ease;
  position: relative;
  font-size: larger;
  font-weight: 400;
}
.link:hover {
  color: var(--primary-color);
}
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2em;
  bottom: -0.3em;
  border-radius: 0.1em;
  background: var(--primary-color);
  transition: 1s ease;
}
.link:hover::before {
  width: 100%;
}

/*MAIN*/
main {
  min-height: 80vh;
}

/*About*/
#about {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#about h4 {
  line-height: 1em;
  font-weight: 600;
  font-size: 1.5em;
  padding-left: 2em;
}
#about h1 {
  font-weight: 800;
  font-size: 4em;
  text-wrap: wrap;
  /* max-width: 10em; */
  /* line-height: 1em; */
  color: var(--primary-color);
}
#about h2 {
  font-weight: 700;
  font-size: 2.5em;
  padding-left: 2em;
}

/*CURSOR*/
.cursorCircle {
  /* mix-blend-mode: difference; */
  height: 1.5em;
  width: 1.5em;
  border-radius: 1.5em;
  background-color: black;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

/*FOOTER*/
footer {
  min-height: 10vh;
}
